.home-body {
    background-color: rgb(180, 214, 170);
    background-size: cover;
}

.main-title {
    font-family: "Henny Penny", system-ui;
    font-weight: 400;
    font-size: 260px;
    text-align: center;
    margin-top: 20px;
    padding-top: 70px;
}

.subtitle {
    font-family: "Comfortaa", sans-serif;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 4px;
    text-align: center;
    margin-top: -260px;
    margin-bottom: 300px;
}

.container {
    display: flex;
    height: calc(100vh - 0px);
    background-color: white;
    padding: 40px;
}

#title1 {
    display: flex;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 10px;
}