.home-body {
    background-color: rgb(180, 214, 170);
    background-size: cover;
}

.main-title {
    font-family: "Henny Penny", system-ui;
    font-weight: 400;
    font-size: 260px;
    text-align: center;
    margin-top: 20px;
    padding-top: 70px;
    transition: transform 0.8s ease;
}

.main-title:hover {
    transform: translateY(-17px);
}

.subtitle {
    font-family: "Comfortaa", sans-serif;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 4px;
    text-align: center;
    margin-top: -250px;
    margin-bottom: 400px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    width: 100%;
    background-color: white;
    padding-bottom: 87px;
}

.paragraph1 {
    font-family: "Fredericka the Great", serif;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 70px;
    text-align: center;
    transition: transform 0.3s ease;
}

.paragraph1:hover {
    transform: translateY(-15px);
}

h3 {
    font-family: "Quicksand", sans-serif;
    font-size: 60px;
    font-weight: 300;
    text-align: left;
    padding-top: 30px;
    padding-left: 50px;
    transition: transform 0.8s ease;
}

h3:hover {
    transform: translateY(-20px);
}

.text {
    padding-left: 50px;
    padding-right: 50px;
    text-align: left;
    font-family: "Quicksand", sans-serif;
    font-size: 30px;
    line-height: 1.6;
}

.key {
    text-align: left;
    font-family: "Quicksand", sans-serif;
    font-size: 31px;
    font-weight: 700;
    text-decoration: underline;
    transition: transform 0.8s ease;
}

.key:hover {
    transform: translateY(-15px);
}

#space2 {
    padding-left: 50px;
}

.divider {
  width: 20%;
  height: 3px;
  background-color: #4e121d;
  margin-top: 40px;
  margin: 20px auto;
  border-radius: 30px;
}

.buttons_container {
    padding-top: 40px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.btn {
    display: inline-block;
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
    font-weight: 400;
    background-color: #f05539b0;
    color: #000000;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    padding: 20px 40px;  
    text-decoration: none; 
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
    background-color: #fa9f8fb0;
    transform: scale(1.05); 
    box-shadow: 0 4px 6px #3a3838;
}

#quote {
    text-align: center;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-size: 50px;
    margin-top: 60px;
    color: #3a1010;
}

#quotepp {
    font-family: 'Courier New', Courier, monospace;
    margin-top: -40px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 2px;
    color: #1f0f0f;
    margin-bottom: 120px;
}

.body-eng {
    background-color: rgb(183, 140, 109);
    width: 100%;
}

.body-med {
    background-color: rgb(175, 126, 121);
    width: 100%;
}

.body-sus {
    background-color: rgba(146, 91, 101, 0.785);
    width: 100%;
}

.text1 {
    padding-left: 50px;
    text-align: left;
    font-family: "Quicksand", sans-serif;
    font-size: 30px;
    margin-bottom: 15px;
    padding-right: 50px;
    padding-left: 50px;
}

#title-experiment {
    font-weight: 700;
    color: #3a1010;
}

.space {
    margin-bottom: 200px;
}

#title-penicilin {
    font-weight: 700;
    color: #500202;
}

#divider1 {
  width: 15%;
  height: 5px;
  background-color: #550211;
  margin-top: -40px;
  margin: 20px auto;
  border-radius: 30px;
  transition: transform 0.5s ease;
}

#divider1:hover {
    transform: translateY(-15px);
}

#divider2 {
  width: 15%;
  height: 5px;
  background-color: #4a250f;
  margin-top: -40px;
  margin: 20px auto;
  border-radius: 30px;
  transition: transform 0.5s ease; 
}

#divider2:hover {
    transform: translateY(-15px);
}

#divider3 {
  width: 15%;
  height: 5px;
  background-color: rgba(94, 47, 56, 0.785);
  margin-top: -40px;
  margin: 20px auto;
  border-radius: 30px;
  transition: transform 0.5s ease; 
}

#divider3:hover {
    transform: translateY(-15px);
}

#sus-title {
    font-family: "Henny Penny", system-ui;
    font-weight: 400;
    font-size: 220px;
    text-align: center;
    margin-top: 20px;
    padding-top: 70px;
    transition: transform 0.8s ease;
}

#sus-title {
    transform: translateY(-17px);
}

.quotes{
    transition: transform 0.3s ease;

}

.quotes:hover {
    transform: scale(1.05); 
}

.text-icon {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon {
    width: 300px;
    height: auto;
    margin-bottom: -20px;
    transition: transform 0.5s ease;
}

.icon:hover {
    transform: scale(1.50); 
}

#space2 {
    margin-bottom: 60px;
}

.info_containers {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.box {
    background-color: rgba(208, 142, 142, 0.779);
    width: 500px;
    height: 150px;
    padding: 15px;
    border-radius: 8px;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
}

.title-containers {
    font-family: "Quicksand", sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

.text-container {
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.box:hover {
    transform: translateY(-15px);
    box-shadow: 0 4px 6px #3a3838;
}

.important {
    font-family: "Alata", sans-serif;
    font-size: 35px;
    font-weight: 500;
    line-height: 1.6;
    padding-left: 50px;
    text-align: left;
}

.last-phrase {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: 40px;
    line-height: 1.2;
}

.final {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#final-button {
    background-color: rgba(193, 74, 63, 0.89);
    display: inline-block;
    font-family: "Quicksand", sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #000000;
    border-radius: 999px;
    cursor: pointer;
    padding: 20px 40px;  
    text-decoration: none; 
    transition: transform 0.7s ease  background-color 0.7s ease, box-shadow 0.7s ease;
}

#final-button:hover {
    transform: scale(1.05);
    background-color: rgba(235, 168, 162, 0.89);
    box-shadow: 0 4px 6px #504949;
}

#message1{
    font-family: "Quicksand", sans-serif;
    font-size: 30px;
    color: #000000;
    opacity: 1;
    transition: opacity 0.8s ease;
    padding-left: 20px;
}

.quiz-questions {
    background-color: white;
    width: 700px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 20px;
    margin-top: 80px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.quiz-questions:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px #1f1d1d;
}

.quiz-title {
    font-family: "Barriecito", system-ui;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

.quiz-questions {
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}

.quiz-questions button {
  margin: 10px;
  padding: 20px 40px;
  border: none;
  border-radius: 30px;
  background-color: #779252;
  color: white;
  cursor: pointer;
  font-size: 17px;
  font-family: "Quicksand", sans-serif;
  transition: transform 0.2s;
}

.quiz-questions button:hover {
    transform: scale(1.1);
}

.pictures {
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: white;
}

.icon2 {
    width: 300px;      
    height: auto;           
    border-radius: 15px;
    transition: transform 0.5s ease;
}

.icon2:hover {
    transform: scale(1.2);
}

.glossary-container {
    background-color: white;
    width: 300px;
    margin: 40px auto;
    padding: 10px;
    border-radius: 30px;
    margin-top: 10px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.glossary-container:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px #1f1d1d;
}

.glossary-title {
    font-family: "Barriecito", system-ui;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.glossary-text1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 6300;
    font-size: 15px;
    letter-spacing: 3px;
    text-align: center; 
}
.glossary-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    letter-spacing: 3px;
    text-align: center;
}

#btn2 {
    display: block;
    width: 200px;
    text-align: center;
    margin: 20px auto;
    background-color: #80cd76d3;
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #000000;
    border-radius: 70px;
    cursor: pointer;
    padding: 20px 40px;  
    text-decoration: none; 
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

#btn2:hover {
    background-color: #c1fab9d3;
    transform: scale(1.05); 
    box-shadow: 0 4px 6px #3a3838;
}

.scroll-arrow {
    font-size: 70px;
    color: #000000;
    text-align: center;
    margin-top: 25px;
    animation: bounce 1.5s infinite;
    cursor: default;
}

@keyframes bounce {
    0%, 100% {transform: translateY(0);}
    50% {transform: translateY(7cm);}
}

.hospital-container {
    height: calc(100vh - 0px);
    background-color: rgb(248, 250, 251);
    display: block;
    margin: 40px;
    border-radius: 70px;
    border: 2px solid black;
    padding: 40px;
    padding-bottom: 800px;
}

#medicine-title {
    font-family:  "Irish Grover", system-ui;
    font-size: 80px;
    text-align: center;
}

#medicine-subtitle {
    font-family: "Quicksand", sans-serif;
    font-size: 35px;
    text-align: center;
    letter-spacing: 4px;
    margin-top: -70px;
}